/* Login.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center content vertically in viewport */
    margin: 0;
  }
  

  
  .image-container {
    width:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: max-content;
    margin-top: 25px;
    border: 2px pink;
  }
  
 .image-container .login-items{
    width:max-content;
    margin:20px;
    justify-content:center ;
    border: 1px solid #949393; /* Add a border around each image */
    border-radius: 5%;
    text-align: center;
    padding: 20px;

 }
  .image-container img {
    width: auto; /* Calculate image width with 20px gap */
    height: auto;
    perspective: 1000px;
    transition: transform 0.15s ;
    margin:20px;
  }
  
  .image-container  .login-items:hover {
    transform: rotateY(10deg) scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  .login-items img {
    height: 200px; /* Increase image size */
    transition: transform 0.3s ease;
  }
  .heading{
    margin-left: 20%;
    margin-top: -200px;
    margin-top: -100px;
    animation: fadeInUp 1.5s ease;

  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animation {
    /* display: flex; */
    align-items: center;
    text-align: center;
    font-size: 2rem;
  }
  
  .animation span {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    margin: 0 5px; /* Add margin for space between spans */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    33.33% {
      opacity: 1;
    }
    66.66% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animation span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .animation span:nth-child(3) {
    animation-delay: 1s;
  }
  